<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Upload</title>
    <style>
        table th table td {padding:  5px}
    </style>
</head>
<body>
<form enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" formmethod="post">
</form>
<form enctype="multipart/form-data" method="post" action="/upload_cloud">
    <input type="file" name="file">
    <input type="submit" name="submit" value="Загрузить">
</form>
<form action="/place_comment" method="post">
    <label for="comment">Комментарий</label>
    <textarea name="text" id="comment"></textarea>

    <button type="submit">Опубликовать</button>
</form>
<h1>Комментарии</h1>
<table border="1">
    <tr>
        <th>Имя</th>
        <th>Текст</th>
    </tr>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.user.username}">username</td>
        <td th:text="${comment.text}">text</td>
    </tr>
</table>
</body>
</html>